@model CreateAnimalViewModel
@{
    ViewData["Title"] = "Create";
}

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Animal.Name" class="control-label"></label>
				<input asp-for="Animal.Name" class="form-control" />
				<span asp-validation-for="Animal.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Animal.Age" class="control-label"></label>
				<input asp-for="Animal.Age" class="form-control" />
				<span asp-validation-for="Animal.Age" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Animal.Description" class="control-label"></label>
				<input asp-for="Animal.Description" class="form-control" />
				<span asp-validation-for="Animal.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Animal.Category" class="control-label"></label>
				<select asp-for="Animal.CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
			</div>
			<div class="form-group">
				<div class="mb-3">
					<label asp-for="ImageFile" class="control-label">Choose file</label>
					<input class="form-control" type="file" asp-for="ImageFile">
				    <span asp-validation-for="ImageFile" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary"/>
			</div>
		</form>
	</div>
</div>

@section Scripts {
    @{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

